@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles for Webkit */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

::-webkit-scrollbar-button {
  display: none;
}


/* styles.css or similar */
.action-button {
  margin-right: 8px; /* Adjust the gap as needed */
}

.action-button:last-child {
  margin-right: 0; /* No margin for the last button */
}
